/*Resets and overrides*/
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, span {
	margin: 0;
	padding: 0;
	line-height: 1;
	}

html, html a {
	-webkit-font-smoothing: antialiased;
	}

/*Font Face Linecons Lite*/
@font-face {
	font-family: 'LineIconsLite';
	src:url('assets/linecons.eot');
	src:url('assets/Fonts/linecons.eot?#iefix') format('embedded-opentype'),
		url('assets/Fonts/linecons.ttf') format('truetype'),
		url('assets/Fonts/linecons.woff') format('woff'),
		url('assets/Fonts/linecons.svg#LineIconsLite') format('svg');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	speak: none;
	}

a, a:link, a:active, a:visited, a:hover {
	text-decoration: none;
	outline: none;
	}

ul {
	list-style-type: none;
	}
	
body {
	max-width: 1020px;
	margin: 0px auto;
	color: #767e9e;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	}

h2 {
	font-size: 30px;
	font-weight: 900;
	color: #666d89;
	margin: 0 0 21px 0;
	}

h3 {
	font-size: 18px;
	font-weight: 300;
	color: #767e9e;
	line-height: 1.6;
	}

h4 {
	font-size: 18px;
	font-weight: 900;
	color: #666d89;
	margin: 0px 0px 9px 0px;
	}
	
p {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.7;
	color: #767e9e;
	}




header  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	background: #2d303a;
	overflow: hidden;
	border-bottom: 5px solid #323746;
}

    
/*============= Services ==============*/

.services {
	background: #f2f2f2;
	overflow: hidden;
	border-bottom: 6px solid #ffffff;
	padding: 0px 0px 0px 40px;
	}

.services h3{
	padding: 0px 0px 0px 40px;
	}

.services ul {
	display: flex;
	flex-wrap: wrap;
	padding: 49px 0 0 0;
	}

.services ul li{
    max-width: 320px;
    padding: 0px 20px 35px 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services ul li span {
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	font-size: 32px;
	font-family: 'LineIconsLite';
	color: #666d89;
	background: transparent;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #666d89;
	margin: 0 20px 0 0;
	}

.services ul li div {
	max-width: 220px;
}
	
.services ul li:hover span {
	color: #f06c64;
	border: 2px solid #f06c64;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
    }
    
.heart:before {
	content: "\e000";
    }

.star:before {
	content: "\e002";	
    }

.lamp:before {
    content: "\e00e";
    }

.pencil:before {
    content: "\e00f";
    }

.quote:before {
    content: "\e014";
    }

.mobile:before {
    content: "\e017";
	}

.services ul li p {
	text-align: justify;
	}



